html, body {
	font-size: 1em;
	font-family: Arial, Times, serif;
	box-sizing: border-box;
}

.social-media {
	/*width: 50px;*/
	width: 70%;
	padding: 5px;
}

.navbar-inverse {
	border-radius: 0;
	margin-bottom: 0;
}

nav.navbar.navbar-inverse {
	background-color: #293a48;
	border-color: #293a48;
}

nav.navbar.navbar-inverse a{
	font-weight: 700;
	color: white;
}

/*navbar taby hover !!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*nav.navbar.navbar-inverse a:hover{
	color: red;	
	border-bottom: 2px solid red;
}*/

.container-header {
	line-height: 99px;
}

.container-body {
	margin: 0;
	/*background-color: red;*/
}

.row-title {
	line-height: 80px;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
}

/*buttony - sortovanie*/
.btn-group .btn-sort {
	font-size: 1.2em;
}

/*buttony sortovanie - linky*/
.sort a {
	border-radius: 0;
}

/*pravy sidebar*/
.panel-table {
	border-radius: 0;
	margin-top: 30px;
}

.panel-table-heading {
	border-radius: 0;
}

.article-excerpt {
	border-bottom: 1px solid grey;
}

.article-excerpt:not(:nth-child(2)) {
	margin-top: 30px;
}

.profile-boxes {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.85em;
}

li.dropdown .dropdown-menu-login {
	background-color: #333333;
    box-shadow: 1px 2px 2px black;
    border-radius: 0;
}

@media only screen and (min-width: 768px) {
	.container-body {
		margin: 10px 0;
	}
	/*pravy sidebar*/
	.panel-table {
		border-radius: 0;
		margin-top: 0;
	}
}

@media only screen and (min-width: 992px) {
	.container-body {
		margin: 10px 2%;
	}
	/*pravy sidebar*/
	.panel-table {
		border-radius: 0;
		margin-top: 0;
	}
}

@media only screen and (min-width: 1200px) {
	.container-body {
		margin: 10px 10%;
	}

	/*pravy sidebar*/
	.panel-table {
		border-radius: 0;
		margin-top: 0;
	}
}